h1 {
    color:blueviolet
}

.square{
    width: 22.7%;
    background-color:purple;
    padding-bottom: 22.7%;
    float: left;
    margin: 2%;
    border-radius: 18.3%;
    transition: background-color 1s;
    transition: border-radius 1s;
    border: 3px solid orange;
    cursor: pointer;
}

.square.winner {
    border-radius: 25%;
    background-color: gold;
    border: 3px solid black;
    cursor: default;
}

.square.loser {
    border-radius: 25%;
    background-color: gray;
    border: 3px solid pink;
    cursor: default;
}